.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.update__alert{
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position:absolute;
  top: 1px;
  right: -3px;

}

.update__alert__header{
  top: -6px;
  right: -3px;
}